/*=====================*/
/* IMPORTS             */
/*=====================*/

@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&family=Great+Vibes&display=swap");

/*=====================*/
/* BROWSER RESET       */
/*=====================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=====================*/
/* VARIABLES           */
/*=====================*/

:root {
  /* Colors */
  /* grays */
  --white-color: rgba(255, 255, 255, 1);
  --black-color: rgba(0, 0, 0, 1);
  --gray-color: rgba(50, 50, 50, 1);
  --dark-gray-color: rgba(35, 35, 35, 1);
  --transparent-gray-25-color: rgba(0, 0, 0, 0.25);
  /* aqua */
  --aqua-color: rgba(49, 189, 229, 1);
  --dark-aqua-color: rgba(0, 118, 151, 1);
  --highlight-aqua-color: rgba(0, 255, 255, 0.4);

  /* Box Effects */
  --box-shadow-effect: var(--transparent-gray-25-color) 0px 2px 5px;
  --text-shadow-effect:1px 2px 3px var(--highlight-aqua-color);

  /* SVG URLs */
  --seigaiha-url: url("https://gist.githubusercontent.com/HalloweenCreature/ba25ed3d707b0bd8a8dad5a2f23a0b08/raw/cf2d195f914b1f5e9b16bdf75fafff1306435f9a/Seigaiha.svg");
  --asanoha-url: url("https://gist.githubusercontent.com/HalloweenCreature/035e9d917d26b6ca274e592f98567ba2/raw/b1eed87a665078dda819f4e689b158964170f5ac/asanoha.svg");
  --goma-url: url("https://gist.githubusercontent.com/HalloweenCreature/28f3ba5b3dc72e21d53dbaec2cb08c58/raw/aa7626b147fe2c233cd2b7553a98c426953d077e/goma_2.svg");

  /* Sizes */
  --nav-height: 5.525rem;
  --spacing-1: 2rem;

  /* Breakpoints */
  --mobile-width: 20rem; /* 320 */
  --fhd-width: 67.5rem;

  /* Effects */
  --ease-out-transition-effect: 0.3s ease-out;
}

/*=====================*/
/* GENERAL             */
/*=====================*/

body {
  color: var(--dark-gray-color);
  font-family: "Domine", serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.65;
}

p {
  font-size: 1rem;
  margin-bottom: 1.15rem;
}

a {
  display: block;
  text-decoration: none;
}

/*=====================*/
/* SHARED              */
/*=====================*/

.section {
  align-items: center;
  box-shadow: var(--box-shadow-effect);
  display: flex;
  justify-content: center;
  padding: var(--nav-height) var(--spacing-1);
  position: relative;
}

.inset {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.display {
  font-family: "Arizonia", cursive;
}

.kern {
  letter-spacing: 0.09375rem;
}

/*=====================*/
/* STRUCTURE           */
/*=====================*/

#main {
  display: grid;
  grid-template-areas:
    "navbar"
    "about"
    "projects"
    "contact"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows:
    auto
    minmax(100vh, auto)
    minmax(100vh, auto)
    minmax(100vh, auto)
    var(--nav-height);
  width: 100%;
}

.vignette {
  background: radial-gradient(circle at bottom, transparent 60%, var(--black-color) 170%);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/*=====================*/
/* SECTIONS            */
/*=====================*/

#navbar {
  align-items: center;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-effect);
  display: flex;
  grid-area: navbar;
  height: var(--nav-height);
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 6;
}

#about {
  background-color: var(--aqua-color);
  background-image: var(--seigaiha-url);
  background-size: 100px 51px;
  grid-area: about;
  z-index: 4;
}

#projects {
  background-color: var(--dark-gray-color);
  background-image: var(--asanoha-url);
  background-size: 100px 58px;
  flex-direction: column;
  grid-area: projects;
  z-index: 3;
}

#contact {
  background-color: var(--aqua-color);
  background-image: var(--goma-url);
  background-size: 100px 58px;
  flex-direction: column;
  grid-area: contact;
  z-index: 2;
}

#footer {
  background-color: var(--dark-gray-color);
  grid-area: footer;
  z-index: 1;
}

/*=====================*/
/* NAVBAR              */
/*=====================*/

.nav-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.nav-list-item {
  height: 100%;
}

.nav-link {
  color: var(--gray-color);
  align-items: center;
  display: flex;
  height: 100%;
}

.nav-link:hover {
  color: var(--gray-color);
}

.nav-link-text {
  color: inherit;
  font-size: 1.5rem;
  font-variant-caps: all-small-caps;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.15;
  margin: 0;
  padding: 0.575rem 1rem;
  transition: 0.3s ease-out;
}

.nav-link-text:hover {
  border-bottom: 1px solid var(--gray-color);
  border-top: 1px solid var(--gray-color);
}

/*=====================*/
/* ABOUT               */
/*=====================*/

.header {
  text-align: center;
  width: 100%;
}

.main-title {
  color: var(--white-color);
  font-size: 11.391rem;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 1.05rem;
  text-shadow: var(--box-shadow-effect);
}

.byline {
  color: var(--white-color);
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.15;
  margin: 2.75rem 0 1.05rem;
  text-shadow: var(--box-shadow-effect);
}

/*=====================*/
/* PROJECTS            */
/*=====================*/

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  margin-top: var(--nav-height);
  max-width: var(--fhd-width);
  width: 100%;
}

.tile {
  align-items: center;
  background: var(--white-color);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow-effect);
}

.tile-link {
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tile-link:hover {
  color: var(--gray-color);
}

.tile-figure {
  box-sizing: border-box;
  height: auto;
  padding: 0;
  width: 100%;
}

.tile-header {
  background-color: var(--aqua-color);
  border-radius: 0 0 calc(var(--spacing-1) / 8) calc(var(--spacing-1) / 8);
  flex-grow: 2;
  padding: 0.575rem calc(var(--spacing-1) / 2);
  width: 100%;
}

.tile-title {
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin: 0;
  text-align: center;
}

.tile-link .tile-figure img {
  border-radius: 0.25rem 0.25rem 0 0;
  display: block;
  filter: grayscale(100%);
  object-fit: cover;
  transition: 0.3s ease-out;
  width: 100%;
}

.tile-link:hover .tile-figure img {
  filter: grayscale(0%);
}

/*=====================*/
/* CONTACT             */
/*=====================*/

.contact-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  margin-top: var(--nav-height);
  max-width: var(--fhd-width);
  width: 100%;
}

@media screen and (max-width: 67.5rem) {
  .contact-tiles {
    flex-direction: column;
  }
}

.contact-tile {
  align-items: center;
  background: var(--white-color);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow-effect);
}

.contact-link {
  align-items: center;
  color: var(--gray-color);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  padding: 1rem;
}

.contact-link:hover {
  color: var(--gray-color);
}

.contact-link-icon {
  font-size: 2.587rem;
  height: 1em;
  line-height: 1;
  width: 1em;
}

.contact-link-text {
  font-size: 1.17rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
